:root {
    --dark-light: #343a40;
    --blue-marin:  #071d2b;
    --beige: #E2E1CC;
    --blue: #007bff;
    --dark-blue: #0054ad;
    --indigo: #6610f2;
    --red: #d93511;
    --orange: #fd7e14;
    --dark-orange: #ed6e18;
    --yellow: #FFBF00;
    --green: #66B573;
    --teal: #20c997;
    --cyan: #17a2b8;
    --light: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #d93511;
    --info: #17a2b8;
    --warning: #FFBF00;
    --danger: #d93511;
    --light: #fff;
    --light-navy: #f8f9fa;
    --dark: #000;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xll: 30px;
    --fz-xxl: 45px;
    --fz-heading: 32px;
    --fw-sm: 400;
    --fw-rg: 500;
    --fw-md: 600;
    --fw-bd: 700;
}

@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flexcenter2 {
    display: flex;
    align-items: center;
    justify-content: center;
}