@import './variables';
@import './allstyle';

.navbar {
    // background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    .nav-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
    }
}
.logo {
    img{
        width: 150px;
        margin-top: 5px;
    }
}
.links {
    ul {
        display: flex;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: var(--dark);
                font-size: var(--fz-sm);
                font-weight: var(--fw-md);
                padding: 5px 10px;
                &:first-child:hover {
                    color: var(--blue);
                }
            }
            #flw-btn {
                background-color: var(--blue);
                color: var(--light);
                padding: 10px 15px;
                border-radius: 3px;
                margin-left: 20px;
                &:hover {
                    background-color: var(--dark-blue);
                }
            }
        }
    }
}

// this is header style 

.header {
    width: 100%;
    background: url(/imgs/bg.svg);
    background-position: center;
    background-size: cover;
    padding: 80px 0 100px;
}
.header-content {
    width: 80%;
    margin: 0 auto;
}
.header-head {
    text-align: center;
    h1 {
        font-size: var(--fz-xxl);
        margin-bottom: 30px;
    }
    p {
        font-size: var(--fz-md);
        font-weight: var(--fw-sm);
        margin-bottom: 40px;
    }
}
.result {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.g-input {
    width: 80%;
    height: 50px;
    @include flexcenter;
    background-color: var(--light);
    padding: 0 20px 0 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px #f6f6f6;
    border: 1px solid #dcdcdc;
}
.f-text {
    p {
        font-size: var(--fz-md);
    }
}
.copy {
    width: 90px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px #f6f6f6;
    background-color: var(--blue);
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        background-color: var(--dark-blue);
    }
    p {
        color: var(--light);
        font-size: var(--fz-sm);
        font-weight: var(--fw-md);
    }
}

// this is password length 

.pass-length {
    @include flexcenter;
    justify-content: center;
    margin-top: 30px;
    .pass-btn {
            width: 45px;
            height: 45px;
            background-color: var(--blue);
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 30px;
            cursor: pointer;
            &:hover {
                background-color: var(--dark-blue);
            }
        p {
            font-size: var(--fz-xll);
            color: var(--light);
            font-weight: var(--fw-sm);
            user-select: none;
            margin: 10px;
        }
    }
    .pass-text {
        font-size: var(--fz-md);
        margin: 0 20px;
        #pass-length {
            font-weight: var(--fw-md);
        }
    }
}

// this is character style 

.character {
    width: 40%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    background-color: var(--light);
    box-shadow: 0px 0px 1px 1px #f6f6f6;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.check {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
        padding-right: 200px;
        padding: 10px 0;
        cursor: pointer;
    }
    input {
        position: absolute;
        right: 20px;
    }
}
.generate {
    width: 100%;
    margin-top: 40px;
    .generate-content {
        width: 50%;
        margin: 0 auto;
        @include flexcenter2;
        button {
            width: 200px;
            height: 50px;
            background-color: var(--blue);
            font-size: var(--fz-md);
            border: none;
            outline: none;
            color: var(--light);
            border-radius: 30px;
            &:hover {
                background-color: var(--dark-blue);
            }
        }
    }
}
// checkbox style 

input[type="checkbox" i] {
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
}

// this is cards style 

.strong-password {
    width: 100%;
    background-color: var(--blue-marin);
    .s-p-content {
        width: 80%;
        margin: 0 auto;
        padding: 70px 0 90px;
        .s-p-head {
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                font-size: var(--fz-xxl);
                color: var(--light);
                margin-bottom: 70px;
            }
        }
        .s-p-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;
            ._card {
                text-align: center;
                background-color: #fefaf7;
                padding: 30px;
                border-radius: 10px;
                &:hover {
                    transform: scale(1.02);
                }
                img {
                    margin-bottom: 10px;
                }
                h3 {
                    color: var(--blue-marin);
                    margin-bottom: 10px;
                }
                p {
                    font-size: var(--fz-md);
                    line-height: 25px;
                }
            }
        }
    }
}


// this is FAQs style 

.faqs {
    width: 100%;
    background-color: var(--light-navy);
    padding: 140px 0;
    
    .faqs-content {
        width: 70%;
        margin: 0 auto;
       
        overflow: hidden;
        border-radius: 30px;

        .faqs-head {
            text-align: center;
            h1 {
                font-size: var(--fz-xxl);
                margin-bottom: 20px;
                span {
                    font-size: 40px;
                    font-weight: var(--fw-md);
                }
            }
            p {
                font-size: var(--fz-md);
                margin-bottom: 40px;
            }
        }
        .faqs-cards {
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
            border: 1px solid #e7e7e7;
            box-shadow: 0px 0px 5px 2px #eeeeee;
            .faq-card {
                padding: 40px;
                border-bottom: 1px solid #e7e7e7;
                background-color: var(--light);
                cursor: pointer;
                &:hover {
                    background-color: #fafafa;
                }
                .row-1 {
                    @include flexcenter;
                    .faq-question h3{
                        font-size: var(--fz-lg);
                        font-weight: var(--fw-md);
                        color: var(--blue-marin);
                    }
                    .show-faq {
                        width: 40px;
                        height: 40px;
                        background-color: var(--blue);
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        border-radius: 30px;
                        cursor: pointer;        
                        img {
                            width: 15px;
                        }
                    }
                }
                .answer {
                    padding-top: 30px;
                    color: var(--dark-light);
                    display: none;
                }
            }
        }

    }
}

// this is for JS 

.rotate-plus {
    transform: rotate(135deg);
    transition: 0.3s ease-in-out;
}
.show-answer {
    padding-top: 30px;
    color: var(--dark-light);
}

// password situation 

.weak {
    background-color: var(--danger);
    display: block;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--light);
    margin-right: 20px;
    font-size: var(--fz-sm);
    letter-spacing: 1px;
}
.strong {
    background-color: var(--green);
    display: block;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--light);
    margin-right: 20px;
    font-size: var(--fz-sm);
    letter-spacing: 1px;
}
.very-strong {
    background-color: var(--blue);
    display: block;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--light);
    margin-right: 20px;
    font-size: var(--fz-sm);
    letter-spacing: 1px;
}
// footer 

.footer {
    width: 100%;
    background-color: var(--blue-marin);
    padding: 30px 0;
    @include flexcenter2;
    .ftr-text {
        text-align: center;
        p {
            color: var(--light);
            padding: 3px 0;
        }
        a {
            text-decoration: none;
            color: var(--blue);
            font-size: var(--fz-md);
        }
    }
}



@media only screen and (max-width: 950px){
    .header-content {
        width: 90%;
        margin: 0 auto;
    }
    .result {
        width: 80%;
    }
    .g-input {
        width: 70%;
        height: 50px;
        @include flexcenter;
        background-color: var(--light);
        padding: 0 20px 0 40px;
        border-radius: 30px;
        box-shadow: 0px 0px 1px 1px #f6f6f6;
        border: 1px solid #dcdcdc;
    }
    .character {
        width: 70%;
    }
    .strong-password {
        .s-p-content {
            width: 87%;
            .s-p-head {
                h1 {
                    font-size: var(--fz-xll);
                    color: var(--light);
                    margin-bottom: 70px;
                }
            }
        }
    }
    // this is FAQs style 

    .faqs {
        width: 100%;
        background-color: var(--light-navy);
        padding: 80px 0;

        .faqs-content {
            width: 87%;
            margin: 0 auto;

            .faqs-head {
                text-align: center;

                h1 {
                    font-size: var(--fz-xll);
                    margin-bottom: 20px;

                    span {
                        font-size: 40px;
                        font-weight: var(--fw-md);
                    }
                }

                p {
                    font-size: var(--fz-md);
                    margin-bottom: 20px;
                }
            }

            .faqs-cards {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
                border: 1px solid #e7e7e7;
                box-shadow: 0px 0px 5px 2px #eeeeee;

                .faq-card {
                    padding: 30px;
                    border-bottom: 1px solid #e7e7e7;
                    background-color: var(--light);
                    cursor: pointer;

                    &:hover {
                        background-color: #fafafa;
                    }

                    .row-1 {
                        @include flexcenter;

                        .faq-question h3 {
                            font-size: var(--fz-lg);
                            font-weight: var(--fw-md);
                            color: var(--blue-marin);
                        }

                        .show-faq {
                            min-width: 40px;
                            min-height: 40px;
                            background-color: var(--blue);
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            border-radius: 30px;

                            cursor: pointer;

                            img {
                                width: 15px;
                            }
                        }
                    }

                    .answer {
                        padding-top: 30px;
                        color: var(--dark-light);
                        display: none;
                    }
                }
            }

        }
    }
}
@media only screen and (max-width: 481px) {
    .navbar {
        .nav-content {
            width: 90%;
            .logo {
                img {
                    width: 130px;
                }
            }
            #faq-li{
                display: none;
            }
        }
    }

    .header-head {
        text-align: center;

        h1 {
            font-size: var(--fz-xll);
            margin-bottom: 30px;
        }

        p {
            font-size: var(--fz-md);
            font-weight: var(--fw-sm);
            margin-bottom: 30px;
        }
    }

    .result {
        width: 95%;
        margin: 0 auto;
        display: block;
    }
    .g-input {
        width: 80%;
        margin: 0 auto 25px;
        height: 45px;
        padding: 0 20px;
        overflow: hidden;
    }
    .copy {
        width: 90px;
        margin: 0 auto;
        height: 45px;
    }
    // this is password length 

    .pass-length {
        @include flexcenter;
        justify-content: center;
        margin-top: 25px;
        width: 100%;
        .pass-btn {
            min-width: 35px;
            min-height: 35px;
            max-width: 35px;
            max-height: 35px;
            p {
                font-size: 19px;
                color: var(--light);
                font-weight: var(--fw-sm);
                user-select: none;
            }
        }
    }
    .character {
        width: 100%;
        margin: 30px auto 0;
        padding: 10px;
    }
    .check input {
        position: absolute;
        right: 10px;
    }

    .generate {
        width: 100%;
        margin-top: 30px;

        .generate-content {
            width: 90%;
            margin: 0 auto;
            @include flexcenter2;

            button {
                width: 200px;
                height: 50px;
                background-color: var(--blue);
                font-size: var(--fz-md);
                border: none;
                outline: none;
                color: var(--light);
                border-radius: 30px;

                &:hover {
                    background-color: var(--dark-blue);
                }
            }
        }
    }
    .strong-password {
        width: 100%;
        background-color: var(--blue-marin);
    
        .s-p-content {
            width: 90%;
            margin: 0 auto;
            padding: 40px 0 90px;
    
            .s-p-head {
                display: flex;
                align-items: center;
                justify-content: center;
    
                h1 {
                    font-size: var(--fz-xll);
                    color: var(--light);
                    margin-bottom: 40px;
                    text-align: center;
                }
            }
    
            .s-p-cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-gap: 20px;
            }
        }
    }

    .faqs-head {
        text-align: center;

        h1 {
            font-size: var(--fz-xll);
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .faq-card {
        padding: 20px;
        border-bottom: 1px solid #e7e7e7;
        background-color: var(--light);
        cursor: pointer;
        border-radius: 30px;

        &:hover {
            background-color: #fafafa;
        }

        .row-1 {
            @include flexcenter;

            .faq-question h3 {
                font-size: var(--fz-md);
                font-weight: var(--fw-md);
                color: var(--blue-marin);
            }

            .show-faq {
                min-width: 35px;
                min-height: 35px;
                max-width: 35px;
                max-height: 35px;
                background-color: var(--blue);
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 30px;
                cursor: pointer;

                img {
                    width: 15px;
                }
            }
        }

        .answer {
            padding-top: 30px;
            color: var(--dark-light);
            display: none;
        }
    }
}

